body {
  min-height: 100vh;
  font-family: "Tajawal", sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header"
    "main";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". title right";
  place-items: center;
  background-color: #b9ceeb;
  min-width: 100%;
}

.header h2 {
  font-size: 32px;
  grid-area: title;
}

.header .rightSide {
  grid-area: right;
}

.header .rightSide button {
}

.main {
  grid-area: main;
  background-color: #87a8d0;
  padding: 50px;
}

.main .bookcase {
  background-color: #deecfc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 95%;
  min-width: 85%;
  padding: 30px;
  gap: 50px;
}

.book {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f7f7f8;
  max-height: 300px;
  max-width: 400px;
  border-radius: 25px;
  font-size: 16px;
}

.divider {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-auto-rows: 60px;
  grid-template-areas: "title data";
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f7f7f8;
  min-height: 350px;
  min-width: 400px;
  border-radius: 25px;
  font-size: 16px;
}

input {
  width: 350px;
  box-sizing: border-box;
}

.removeButton {
  height: 40px;
  width: 70px;
  border-radius: 15px;
  background: linear-gradient(
    274deg,
    rgba(101, 63, 80, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: white;
  align-self: center;
}

.changeButton {
  height: 40px;
  width: 70px;
  border-radius: 15px;
  background: radial-gradient(
    circle,
    rgba(255, 202, 192, 1) 0%,
    rgba(188, 123, 204, 1) 100%
  );
  color: white;
  align-self: center;
}
